---
export interface Props {
    id: number;
    title: string;
    subtitle: string;
    description: string;
    menuDescription: string;
    img: string;
}

const { id, title, subtitle, description, menuDescription, img } = Astro.props;
---

<!-- <div class="bg-coquimbo-200/30 font-titillium sm:justify-items-center rounded-xl h-full mx-10">
    <div class="flex-col h-full">
        <div id="photo-card" class="py-px h-1/2 w-full bg-[length:100%]">
            <img src={img} alt="" class="object-cover rounded-full" />
        </div>
        <div class="flex h-1/2 mx-3 sm:max-h-max text-center">
            <div class="flex bg-gradient-to-t from-coquimbo-400/50 to-75% overflow-y-scroll rounded-b-2xl shadow-xl shadow-slate-900/70 text-white">
                <div id="cardMenu" class="space-y-2">
                    <h2 class="font-bold text-xl">{title}</h2>
                    <h3 class="font-semibold text-lg">{subtitle}</h3>
                    <p class="text-justify text-base px-5">
                        {menuDescription}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div
  class="grid grid-rows-2 bg-coquimbo-200/30 font-titillium sm:justify-items-center rounded-2xl h-full mx-10"
>

  <div
  id="photo-card"
    class="sm:w-64 w-3/4 rounded-full bg-[length:100%] justify-self-center self-center py-4"
  >
    <img src={img} alt="" class="object-cover rounded-full">
  </div>
    <div class="grid grid-rows-1 grid-cols-3 h-full">
      <div
        class="flex row-start-1 col-start-1 col-span-3 z-0 h-full mx-3 sm:max-h-max text-center"
      >
        <div
          class="flex bg-gradient-to-t from-coquimbo-400/50 to-75% overflow-y-scroll rounded-b-xl shadow-xl  text-white mb-5"
        >
          <div id="cardMenu" class="space-y-2">
            <h2 class="font-bold text-xl">{title}</h2>
            <h3 class="font-semibold text-lg">{subtitle}</h3>
            <p class="text-justify text-base px-5">
             {menuDescription}
            </p>
          </div>
      </div>
    </div>

</div>

