---
import Card from "./Card.astro";

const cardData = [
    {
      id: 1,
      title: "Profile",
      subtitle: "Hello! My name is Daniel Fernando and...",
      firstParagraph: "Hi! I'm Daniel Fernando. I graduated in the field of Information Systems Technology and related areas. I'm from Cali, Colombia.",
      secondParagraph: "As you can see, this is my virtual portfolio :)",
      thirdParagraph: "",
      img: "images/profile.jpg",
    },
    {
      id: 2,
      title: "Projects",
      subtitle: "This portfolio!",
      firstParagraph: "And you can check out my GitHub",
      secondParagraph: "",
      thirdParagraph: "https://github.com/mrpotato42",
      img: "images/projects.jpg",
    },
    {
      id: 3,
      title: "Experience",
      subtitle: "Oops! It looks like something is still under construction.",
      firstParagraph: "",
      secondParagraph: "",
      thirdParagraph: "",
      img: "images/experience.jpg",
    },
    {
      id: 4,
      title: "Skills",
      subtitle: "and more...",
      firstParagraph: "I have skills in technologies such as JavaScript, HTML and CSS. I have also worked with Tailwind and Bootstrap, React and TypeScript. If you want to know more about the certification of my skills, you can visit my LinkedIn profile, where I have posted some of my achievements.",
      secondParagraph: "",
      thirdParagraph: "https://www.linkedin.com/in/danielcg99/",
      img: "images/skills.jpg",
    },
  ];
---

<div class="carousel w-full h-full">
    {
        cardData.map(({id, title, subtitle, firstParagraph, secondParagraph, thirdParagraph, img}) => {
            return (
                <div class="carousel-item w-full h-full justify-center" id={title}>
                        <Card id={id} title={title} subtitle={subtitle} firstParagraph={firstParagraph} secondParagraph={secondParagraph} thirdParagraph={thirdParagraph} img={img}/>
                </div>
            )
        })
    }
</div>

